# Model too big
src/model/pose_iter_440000.caffemodel

# Remove pycache
src/__pycache__

# Recording output
src/recording/file.csv

# Video test
src/video/*.mp4
python-app/model/learnopencv
.DS_Store
