# too big files
server/pose_estimator/model/pose_iter_440000.caffemodel
server/pose_estimator/output_images/*.jpg
server/pose_estimator/recording/

# Remove pycache
server/pose_estimator/__pycache__/

# Recording output
server/pose_estimator/recording/file.csv

# Frame output
server/pose_estimator/output_images/*.jpg

server/pose_estimator/recording/*.mp4
server/pose_estimator/output_images/*.jpg


# Video test
server/pose_estimator/video/*.mp4

.vscode
node_modules
.DS_Store

!.gitkeep
